exportPattern("^[[:alpha:]]+")
importFrom("graphics", "abline", "boxplot", "curve", "lines", "par", "points", "text")
importFrom("stats", "lm", "predict")
importFrom("utils", "data")
importFrom("stats", "qt", "sd")
